.table-wrapper {
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  max-height: calc(100% - 4rem);
  padding: 2rem;
  overflow-y: hidden;
  box-shadow: none;

  mat-table {
    max-height: calc(100% - 56px);
    overflow-y: auto;

    mat-cell {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.marker {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: lightgray;

  &.indicator {
    &__red {
      background: red;
    }
    &__yellow {
      background: yellow;
    }
    &__green {
      background: green;
    }
  }
}

.device-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}
