<mat-drawer-container class="main-container">
  <mat-drawer mode="side" opened>
    <div class="sidebar-wrapper">
      <div class="logo">
        <img src="assets/images/logo.png">
      </div>
      <div class="links-wrapper">
        <a *ngFor="let item of links" [routerLink]="[item.link]" routerLinkActive="active-item-link">
          {{ item.displayName }}
        </a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
